body{
    background: url('../images/noise.png');
}

.l{
    width: 40%;
    text-align:right;
    float:left;
    font-size:16px;
}

.r{
    text-align:left;
    margin-left:5px;
}

.header{
    background-color: #0A90DC;
    height: 100px;
    border: 1px solid #B9C6E4;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 20px;
}

#content{
    border-bottom: 1px solid #B9C6E4;
    min-height: 450px;
    height: auto;
    border-radius: 5px;
    margin-top:20px;
    padding: 20px;
}

.address-header{
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: white;
    width: 300px;
    border: 0;
    border-bottom: 1px solid #CCC;
    font-size:24px;
}

.contact-detail{
    margin: 20px auto;
    padding: 10px;
    background: whiteSmoke;
    border: 1px solid #CCC;
    border-radius: 5px;
    line-height:24px;
}
